/* NewSummary.css */

.preview-summary-container {
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin: 0 auto;
    overflow-x: auto;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  
  .preview-summary-content {
    font-family: Arial, sans-serif;
    font-size: 16px;
    color: #333;
    width: 100%;
  }
  
  .preview-toolbar {
    background: linear-gradient(90deg, #003D71 0%, #5482AB 100%);
    color: white;
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    height: 20px;
  }
  
  .preview-title {
    font-weight: 600;
    color: #fff;
  }
  
  .preview-summary-details {
    width: 100%;
  }
  
  .preview-details-grid {
    padding: 5px;
    display: grid;
    grid-template-columns: repeat(4, 1fr); /* 4 columns */
    gap: 20px; /* Increase gap between columns and rows */
  }
  
  .preview-detail-item {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px; /* Add space below each item */
  }
  
  .preview-label {
    font-weight: bold;
    margin-bottom: 5px;
  }
  
  .preview-value {
    color: #333;
  }

  .preview-custom-header {
    background-color: #003D71 !important;
    color: #ffff;
    font-size: 12px;
    padding: 4px;
}

tbody, td, tfoot, th, thead, tr {
  border-color: inherit;
  border-style: solid;
  border-width: 0;
  font-size: 13px;
  font-weight: 500;
}

.previewDataTable td {
  font-size: 11px !important;
  padding: 4px;
}
.previewDataTable th, thead {
  font-size: 12px !important;
  padding: 3px;
}
.preview-train-type{
  border-left: 2px solid #003D71;
  padding-left: 100px;
  text-wrap: nowrap;
}

.p-dialog {
width: 1200px !important;
}


@media (max-width: 768px) {
  .preview-summary-container {
    padding: 10px;
  }

  .preview-toolbar {
    height: auto; /* Adjust toolbar height */
    padding: 8px;
    font-size: 14px;
  }

  .preview-details-grid {
    grid-template-columns: repeat(2, 1fr); /* 2 columns */
    gap: 10px; /* Reduce gap */
  }

  .preview-title {
    font-size: 16px; /* Smaller font for the title */
  }

  .preview-label {
    font-size: 14px;
  }

  .preview-value {
    font-size: 14px;
  }

  .p-dialog {
    width: 100% !important; /* Full width for dialog on small screens */
  }

  .previewDataTable td,
  .previewDataTable th {
    font-size: 10px !important;
    padding: 2px;
  }

  .preview-train-type {
    padding-left: 50px; /* Adjust padding */
  }
}


@media (max-width: 1024px) {
  .preview-details-grid {
    grid-template-columns: repeat(3, 1fr); /* 3 columns */
    gap: 15px; /* Moderate gap */
  }

  .p-dialog {
    width: 90% !important; /* Reduce dialog width */
  }

  .preview-summary-container {
    padding: 15px;
  }
}
