.header-travelform {
    background-color: #003D71;
    color: #fff;
    text-align: center;
    font-size: 13px;
    height: 60px;
    line-height: 50px;
    display: flex;
    align-items: center;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    padding-left: 10px;
}

.travel-request-header {
    margin-left: 25rem;
}

.small-menubar .p-menubar-root {
    background-color: #003D71; /* Match the header */
}

.small-menubar .p-menuitem-link {
    color: white; /* Match color for links */
    background: #003D71;
}

.small-menubar .p-menuitem-link:hover {
   background-color: #003D71;
}

.small-menubar .p-menuitem {
    white-space: nowrap; /* Prevent wrapping */
}

/* Dropdown menu styles */
.p-submenu {
    background: #fff; /* White background for the submenu */
    border-radius: 8px;
}

.p-menuitem {
    white-space: nowrap; /* Prevent item text from wrapping */
}

.p-menuitem-link {
    color: black; /* Black font color for submenu items */
}

.p-menuitem-link:hover {
    background-color: #003D71; /* Change background on hover */
    color: white; /* Change text color on hover */
}

.p-menubar {
    display: flex;
    align-items: center;
    background: none;
    border: none;
    font-size: 0.9rem;
    margin-left: 43px;
    margin-top: 21px;
}

.p-menubar .p-menuitem>.p-menuitem-content .p-menuitem-link .p-menuitem-text {
    color: white;
}

.p-menubar .p-submenu-list {
    background: #fff; /* White background for the submenu list */
    border: 0;
    padding: 0px;
}

..p-menuitem-content {
    color: black; /* Initial font color */
    background-color: white; /* Initial background color */
    transition: color 0.3s, background-color 0.3s; /* Smooth transition */
    padding: 10px; /* Add some padding for better click area */
}

..p-menuitem-content:hover {
    color: white; /* Font color on hover */
    background-color: #003D71; /* Background color on hover */
}
.view-my-travel-request {
    background-color: white; /* Default background */
    color: black; /* Default text color */
}

.view-my-travel-request:hover {
    background-color: #003D71; /* Hover background */
    color: white; /* Hover text color */
}

.waiting-approval {
    background-color: white; /* Default background */
    color: black; /* Default text color */
}

.waiting-approval:hover {
    background-color: #003D71; /* Hover background */
    color: white; /* Hover text color */
}


