.home-container {
    display: flex;
    justify-content: center; 
    align-items: center; 
    height: 100vh; 
    cursor: pointer; 
    background: lightgray;
}

.icon-container {
    display: flex;
    flex-direction: column; 
    align-items: center; 
    background: linear-gradient(90deg, #003d71 0%, #5482ab 100%);
    padding: 40px; /* Padding around the icon and text */
    border-radius: 20px; 
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.2); 
    transition: transform 0.3s, box-shadow 0.3s; /* Smooth hover transition */
}

.icon-container:hover {
    transform: translateY(-5px); /* Slight lift on hover */
    box-shadow: 0px 8px 30px rgba(0, 0, 0, 0.2); /* Enhanced shadow on hover */
}

.flight-icon {
    font-size: 50px !important; /* Icon size */
    color: #FFFFFF; /* Icon color */
    margin-bottom: 16px; /* Space between icon and text */
}

.travel-text {
    text-align: center; 
    color: #FFFFFF;
    font-weight: bold; 
    font-size: 16px; /* Text size */
}
.lfr-layout-structure-item-6a36cc21-165a-478e-b017-e6e8d4534e47 {
font-size: 10px !important;
position: absolute;
top: 0% !important;
margin-left: 74rem !important;

}